<!DOCTYPE html>
<html>
  <head>
    <title>Gmap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

  <script type="text/javascript"
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ2oLuhdL_tD1gt-9E65m2mcar_1qXg90">
  </script>
  </body>
</html>
